:root {
  --web-green: #49b649;
  --green-color: #49b649;
  --white-color: #fff;
  --black-color: #000;
  --header-height: 120px;
  --border-color: rgba(0, 0, 0, 0.3);
  --text-color: #6c757d;
  --header-padding: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
}

*[href] {
  text-decoration: none;
  color: var(--black-color);
}

ul {
  list-style-type: none;
}

.btn {
  padding: 8px 32px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn.small {
  padding: 8px 32px;
  font-size: 16px;
}

.btn.large {
  padding: 16px 64px;
  font-size: 16px;
}

.btn.outline {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.align-center {
  display: flex;
  align-items: center;
}
