:root {
    --web-green: #49B649;

}

body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 30px 50px;
}


.video-container {

    width:100%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    z-index: -100;
    
    }
    
#video-bg{
    width:100%;
    display: block;
}

.video-container:before {
    content: '';
    position: absolute;
    /* background: linear-gradient(45deg, rgba(40, 8, 8, 0.7), transparent);     */
    background:  rgba(0, 0, 0, 0.7);      
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#collapsibleNavId a {
padding: 0 2rem;
display: inline-block;
}