/* main */

main {
  margin-top: calc(var(--header-height) + 32px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid var(--border-color);
  margin-bottom: 32px;
  min-height: 500px;
}

.main__container {
  min-height: 300px;
  display: none;
}

.main__container.active.flex {
  display: flex;
}

.main__container.active {
  display: block;
}

/* main nav */

.main__nav {
  display: flex;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3333%;
  border-right: 1px solid var(--border-color);
}

.main__nav-item.active {
  background-color: #efefef;
}

.main__nav-item:last-child {
  border: none;
}

.main__nav-item.active .nav__index {
  background-color: var(--web-green);
  color: var(--white-color);
}

.nav__index {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--black-color);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 16px;
}
.nav__title {
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.main__container {
  padding: 32px;
  margin-top: 64px;
}

.main__container .title {
  color: var(--black-color);
  font-size: 30px;
  margin-bottom: 16px;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.seat-map {
  display: block;
  margin: auto;
  max-width: 100%;
}

.seat-type-item {
  display: flex;
  margin-bottom: 16px;
}

.seat-type-item img {
  margin-right: 32px;
}

.seat-type-item span {
  font-weight: 600;
}

/* main 2 */

.greentext.title {
  font-size: 16px;
  color: var(--green-color);
}

.location-container {
  margin-bottom: 32px;
}
.pick-up .time {
  margin-right: 16px;
  font-size: 20px;
}
.pick-up .location {
  font-size: 20px;
  font-weight: 500;
}
.location__head {
  background-color: #d9d9d9;
  padding: 8px;
  margin-bottom: 16px;
}

.location__head i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  margin-right: 8px;
}

.location__head div {
  color: var(--black-color);
}

.location-info {
  margin-bottom: 8px;
}

/* main 3 */

.main__container--3 .title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.main__container--3 input {
  padding: 16px 16px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  width: 80%;
}

.main__container--3 textarea {
  width: 100%;
}

.text-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 230px;
}

.input-item {
  margin-bottom: 16px;
  width: 50%;
}

/* Footer */

.main__footer {
  display: none;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  padding: 0 32px;
  height: 80px;
  background-color: var(--white-color);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.back-text {
  font-size: 24px;
  color: var(--web-green);
}

.main__footer.active {
  display: flex;
}

.continue-btn {
  background-color: var(--web-green);
  color: var(--white-color);
  margin-left: 16px;
}

.total-price span {
  color: var(--web-green);
}
