/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
  .nav-link.active {
    color: var(--white-color) !important;
  }
}

@media only screen and (max-width: 600px) {
  .left .align-center {
    display: block;
  }

  .info-item {
    display: block;
  }
  .info-label {
    margin-bottom: 8px;
  }

  .right__info-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: unset;
  }

  .info-item-icon {
    float: unset;
  }
  .btn.outline.btn--update {
    margin-top: 16px !important;
    float: unset;
    margin: auto;
  }

  .temp {
    flex-direction: column;
  }

  .payed_label {
    display: block;
    margin-bottom: 16px;
  }

  .price {
    margin-left: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .ticket__nav {
    flex-direction: column;
  }

  .ticket__head {
    flex-direction: column;
  }
  .ticket {
    flex-direction: column;
  }
  .tiket__left {
    width: 100%;
  }
  .tiket__right {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  aside {
    display: block;
  }

  .container {
    display: block;
  }

  .container__inner {
    display: block;
  }

  .left {
    display: block;
    width: 100%;
    padding: 16px;
    border-right: none;
  }

  .right {
    display: block;
    width: 100%;
    padding: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .nav-link {
    color: var(--text-color);
  }

  main {
    display: block;
  }

  .container {
    margin: auto;
    width: 100%;
    padding: 16px;
  }

  aside {
    width: 100%;
    padding: 0 16px;
  }

  .sidebar__list {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar__item {
    padding: 8px;
    text-align: center;
    margin-right: 4px;
  }

  .container__inner {
  }
}
