/* main */

main {
  margin-top: var(--header-height);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 800px;
}

/* Footer */

footer {
  background-color: var(--white-color);
  min-height: 60px;
}
footer {
  display: block;
  padding: 0 var(--header-padding);
}

footer * {
  text-align: right;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__lists-conatiner {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.footer__text {
  color: var(--black-color);
  font-size: 16px;
  margin-bottom: 8px;
}
