/* main */

main {
  margin-top: var(--header-height);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 800px;
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.route__depart,
.route__des,
.route__date {
  width: 260px;
  max-width: 27%;
  height: 50px;
  padding: 8px 32px;
  border-radius: 99px;
  font-size: 16px;
  font-weight: 600;
  background-color: #d9d9d9;
  color: var(--black-color);
  border: none;
  outline: none;
}
.route__des {
}
.route__date {
}

.function-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  margin: 20px 0;
}
.btn {
  padding: 8px 32px;
  border-radius: 99px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.filter-btn {
}
.sort-btn {
  margin-left: 16px;
}

.bus-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
.bus-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: var(--padding-item);
  width: 100%;
  --padding-item: 16px;
  --green-color: #49b649;
  margin-bottom: 16px;
}
.info {
  position: relative;
  width: 80%;
  margin-right: 16px;
}
.bus-name {
  color: var(--black-color);
  font-size: 24px;
  display: inline-block;
  margin-right: 8px;
}
.rate {
  display: inline-block;
  width: fit-content;
  color: var(--white-color);
  background-color: var(--green-color);
  border-radius: 8px;
  padding: 4px 8px;
  position: relative;
  top: -1px;
}

.rate * {
  font-size: 12px;
}

.bus-type {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 16px;
}

.info-detail {
  min-height: 130px;
}

.route-icon {
  position: absolute;
}

.route-info {
  padding-left: 30px;
  min-height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.depart-point {
}
.time,
.pos {
  color: var(--black-color);
}

.time {
  font-size: 20px;
  font-weight: 600;
}

.pos {
  font-size: 16px;
}
.desti-point {
}
.duration {
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--green-color);
  font-size: 26px;
  font-weight: 500;
}
.empty-seat {
  position: absolute;
  bottom: 60px;
  right: 0;
}
.detail-link {
  position: absolute;
  bottom: 6px;
  right: 180px;
  text-decoration: underline;
}

.choose-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffc107;
  color: var(--black-color);
  font-size: 16px;
  min-width: 150px;
  height: 50px;
  border-radius: 4px;
}

.img-fluid {
  width: 19%;
}
.bus-img {
  width: 100%;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #d9d9d9;
  color: var(--black-color);
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.page.active {
  color: #49b649;
  background-color: #dcf9dc;
}

footer {
  background-color: var(--white-color);
  min-height: 60px;
}

/* Footer */

footer {
  display: block;
  padding: 0 var(--header-padding);
}

footer * {
  text-align: right;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__lists-conatiner {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.footer__text {
  color: var(--black-color);
  font-size: 16px;
  margin-bottom: 8px;
}
