@media only screen and (max-width: 576px) {
  .nav-link.active {
    color: var(--white-color) !important;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 768px) {
  .nav-link {
    color: var(--text-color);
  }

  main {
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  .sidebar__list {
    padding-left: 0;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .sidebar__item {
    width: unset;
  }

  .content {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 1200px) {
}
