<main>
  <aside>
    <ul class="sidebar__list">
      <li class="sidebar__item active">Giới thiệu</li>
      <li class="sidebar__item">Tầm nhìn</li>
      <li class="sidebar__item">Sứ mệnh</li>
      <li class="sidebar__item">Giải thưởng</li>
      <li class="sidebar__item">Báo Chí</li>
      <li class="sidebar__item">Nhà đầu tư</li>
    </ul>
  </aside>
  <div class="content">
    <div class="content__title">Giới thiệu</div>
    <img
      src="/static/Images/gioiThieuImg.png"
      alt=""
      class="content__img"
    />
    <p class="content__para">
      Được thành lập từ năm 2013, Gobe đã xây dựng được tên tuổi hàng đầu
      với bề dày hoạt động trong lĩnh vực thương mại điện tử, công nghệ và
      du lịch. Gobe tự hào là đơn vị đi đầu trong sự nghiệp cách mạng ngành
      xe khách và du lịch Việt Nam bao gồm các giải pháp: đặt vé & phương
      tiện thông minh cho hành khách, phần mềm quản lý hiệu quả cho nhà xe
      (BMS - Bus Management System) và phần mềm hỗ trợ bán vé hiệu quả cho
      đại lý (AMS- Agent Management System).
      <br /><br />
      Hiện tại, Gobe là một trong những hệ thống vé xe lớn nhất Việt Nam.
      Không chỉ mang đến cho người dùng đa dạng lựa chọn về hãng xe, dòng xe
      và giải pháp đặt vé nhanh chóng, tiện lợi, Gobe còn có rất nhiều ưu
      đãi hàng tháng, giúp khách hàng đặt được vé xe khách chất lượng cao
      với giá thấp nhất thị trường. Hành khách có thể dễ dàng lựa chọn trước
      chỗ ngồi yêu thích, thanh toán vé trực tuyến, hoặc bằng tiền mặt tại
      các cửa hàng tiện lợi trên cả nước.
    </p>
  </div>
</main>