<main>
  <div class="container1">
    <div class="images-view">
      <img
        class="img-main"
        src="Images/Anh xe.png"
        alt="img-main"
        width="100%"
      />
      <div class="img-items">
        <img
          class="img-item"
          src="Images/Anh xe.png"
          alt="img-item"
        />
        <img
          class="img-item"
          src="Images/Anh xe.png"
          alt="img-item"
        />
        <img
          class="img-item"
          src="Images/Anh xe.png"
          alt="img-item"
        />
        <img
          class="img-item"
          src="Images/Anh xe.png"
          alt="img-item"
        />
      </div>
    </div>

    <div class="bus-item">
      <div class="info">
        <div class="bus-type">Ghế ngồi 16 chỗ</div>
        <div class="bus-name">Kết Đoàn Bus</div>
        <div class="rate">
          <span>4.8</span>
          <i class="fa-solid fa-star"></i>
          <span>(2747)</span>
        </div>

        <div class="info-detail">
          <img
            class="route-icon"
            src="Images/route-icon.png"
            alt="route-icon"
          />
          <div class="route-info">
            <div class="depart-point">
              <span class="time">14:50</span>
              <span class="pos">Văn phòng Mỹ Đình</span>
            </div>
            <span class="duration">1h45m</span>
            <div class="desti-point">
              <span class="time">9:50</span>
              <span class="pos">728 Thiên Lôi</span>
            </div>
          </div>
          <span class="price"> 150.000đ </span>
          <span class="empty-seat">Còn 15 chỗ trống</span>

          <button class="btn large choose-btn" onclick="handleChooseBtn()">
            Chọn chuyến
          </button>
        </div>
        <div class="pay-with-zalo">
          <div class="discount">50% OFF</div>
          <span>khi thanh toán với</span>
          <img src="Images/zaloPayIcon.png" alt="zalopay-icon" />
        </div>
      </div>
    </div>

    <div class="garage__container">
      <div class="garage">
        <div class="align-center">
          <img
            src="Images/nha_xe.png"
            alt="garage"
            class="garage-img"
          />
          <div class="garage__title"><span>Nhà xe</span> Hoàng Yến</div>
        </div>

        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage__info">
          <div class="align-center">
            <img
              src="Images/Home_duotone.svg"
              alt="home-icon"
              class="home-icon"
            />
            <div>Trụ sở: 241 Bình Lợi, P.13, Q.Bình Thạnh</div>
          </div>
          <div class="align-center">
            <img
              src="Images/icon_ phone.svg"
              alt="phone-icon"
              class="phone-icon"
            />
            <div>Số điện thoại: 1900 9393</div>
          </div>
        </div>

        <button
          class="show-btn btn outline large"
          onclick="location.href='../GaragePage/index.html'"
        >
          <a href="../GaragePage/index_notSignIn.html">Xem Nhà Xe</a>
        </button>
      </div>
    </div>
  </div>

  <!-- other buses -->
  <div class="other-buses">
    <div class="title">Có thể bạn cũng tìm kiếm</div>
    <div class="other-buses-list align-center">
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
      <div class="other-bus">
        <div class="rate align-center">
          <span>4.5 / 5</span>
          <img src="Images/Star.svg" alt="star" />
        </div>
        <div class="garage-name">Hải Âu</div>
        <div class="route">Hà Nội - Hải Phòng</div>
        <div class="price">150000đ</div>
      </div>
    </div>
  </div>

  <!-- pick up location -->
  <div class="pick-up">
    <div class="pick-up-title">Điểm đón, trả</div>
    <div class="noti">
      <span>Lưu ý</span>
      <div class="noti">
        Các mốc thời gian đón, trả bên dưới là thời gian dự kiến <br />Lịch
        này có thể thay đổi tùy theo tình hình thực tế
      </div>
    </div>
    <div class="location-container">
      <div class="location__head align-center">
        <i class="fa-solid fa-location-dot"></i>
        <div class="pick-up-title">Điểm đón</div>
      </div>
      <div class="location-info align-center">
        <div class="time">09:50</div>
        <span class="location">Văn phòng Mỹ Đình</span>
      </div>
      <div class="location-info align-center">
        <div class="time">09:50</div>
        <span class="location">Văn phòng Mỹ Đình</span>
      </div>
      <div class="location-info align-center">
        <div class="time">09:50</div>
        <span class="location">Văn phòng Mỹ Đình</span>
      </div>
    </div>
    <div class="location-container">
      <div class="location__head align-center">
        <i class="fa-solid fa-location-dot"></i>
        <div class="pick-up-title">Điểm trả</div>
      </div>
      <div class="location-info align-center">
        <div class="time">11:15</div>
        <span class="location">Trung tâm thành phố Hải Phòng</span>
      </div>
      <div class="location-info align-center">
        <div class="time">11:15</div>
        <span class="location">Trung tâm thành phố Hải Phòng</span>
      </div>
      <div class="location-info align-center">
        <div class="time">11:15</div>
        <span class="location">Trung tâm thành phố Hải Phòng</span>
      </div>
    </div>
  </div>

  <div class="container1">
    <div class="policy">
      <div class="title">Chính sách hủy vé</div>
      <img src="Images/policy.png" alt="policy-img" />
      <div class="noti">
        <span>Lưu ý: </span>
        Phí huỷ sẽ được tính trên giá gốc, không giảm trừ khuyến mãi hoặc
        giảm giá; đồng thời không vượt quá số tiền quý khách đã thanh toán.
      </div>
      <div class="request">
        <div class="title">Yêu cầu khi lên xe</div>
        <ul class="req-list">
          <li class="req-item">
            Có mặt tại văn phòng/quầy vé/bến xe trước 30 phút để làm thủ tục
            lên xe
          </li>
          <li class="req-item">Đổi vé giấy trước khi lên xe</li>
          <li class="req-item">
            Xuất trình SMS/Email đặt vé trước khi lên xe
          </li>
          <li class="req-item">Không mang đồ ăn, thức ăn có mùi lên xe</li>
          <li class="req-item">
            Không hút thuốc, uống rượu, sử dụng chất kích thích trên xe
          </li>
          <li class="req-item">Không mang các vật dễ cháy nổ lên xe</li>
          <li class="req-item">Không vứt rác trên xe</li>
          <li class="req-item">Không làm ồn, gây mất trật tự trên xe</li>
        </ul>
      </div>
    </div>
    <div class="utility-container">
      <div class="utility">
        <div class="title">Tiện ích</div>
        <div class="utility-list">
          <div class="flex utility-item">
            <img
              src="Images/hands-bubbles-solid-icon.png"
              alt="icon"
            />
            <div class="flex-1">
              <div class="utility-item-title">Nước rửa tay</div>
              <div class="utility-item-text">
                Nhà xe có trang bị nước rửa tay diệt khuẩn trước khi lên xe
                và trong xe
              </div>
            </div>
          </div>
          <div class="flex utility-item">
            <img
              src="Images/hands-bubbles-solid-icon.png"
              alt="icon"
            />
            <div class="flex-1">
              <div class="utility-item-title">Nước rửa tay</div>
              <div class="utility-item-text">
                Nhà xe có trang bị nước rửa tay diệt khuẩn trước khi lên xe
                và trong xe
              </div>
            </div>
          </div>
          <div class="flex utility-item">
            <img
              src="Images/hands-bubbles-solid-icon.png"
              alt="icon"
            />
            <div class="flex-1">
              <div class="utility-item-title">Nước rửa tay</div>
              <div class="utility-item-text">
                Nhà xe có trang bị nước rửa tay diệt khuẩn trước khi lên xe
                và trong xe
              </div>
            </div>
          </div>
          <div class="flex utility-item">
            <img
              src="Images/hands-bubbles-solid-icon.png"
              alt="icon"
            />
            <div class="flex-1">
              <div class="utility-item-title">Nước rửa tay</div>
              <div class="utility-item-text">
                Nhà xe có trang bị nước rửa tay diệt khuẩn trước khi lên xe
                và trong xe
              </div>
            </div>
          </div>
          <div class="flex utility-item">
            <img
              src="Images/hands-bubbles-solid-icon.png"
              alt="icon"
            />
            <div class="flex-1">
              <div class="utility-item-title">Nước rửa tay</div>
              <div class="utility-item-text">
                Nhà xe có trang bị nước rửa tay diệt khuẩn trước khi lên xe
                và trong xe
              </div>
            </div>
          </div>
          <div class="flex utility-item">
            <img
              src="Images/hands-bubbles-solid-icon.png"
              alt="icon"
            />
            <div class="flex-1">
              <div class="utility-item-title">Nước rửa tay</div>
              <div class="utility-item-text">
                Nhà xe có trang bị nước rửa tay diệt khuẩn trước khi lên xe
                và trong xe
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- customer rate -->
  <div class="customer-rate">
    <div class="title">Đánh giá từ khách hàng</div>
    <div class="rate align-center">
      <span>4.5/5</span>
      <div class="align-center">
        <img src="Images/Star.svg" alt="star" />
        <img src="Images/Star.svg" alt="star" />
        <img src="Images/Star.svg" alt="star" />
        <img src="Images/Star.svg" alt="star" />
        <img src="Images/Star.svg" alt="star" />
      </div>
    </div>
    <div class="comment-quantity">(327 Bình luận)</div>
    <div class="comment-list">
      <div class="comment-item">
        <img
          src="Images/ava-palceholder.png"
          alt="ava-img"
          class="ava"
        />
        <div class="comment-info">
          <div class="comment-name align-center">
            <span>Đặng Bảo Châu</span>
            <div class="align-center">
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
            </div>
          </div>
          <div class="comment-text">Chuyến xe tốt</div>
        </div>
      </div>
      <div class="comment-item">
        <img
          src="Images/ava-palceholder.png"
          alt="ava-img"
          class="ava"
        />
        <div class="comment-info">
          <div class="comment-name align-center">
            <span>Đặng Bảo Châu</span>
            <div class="align-center">
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
            </div>
          </div>
          <div class="comment-text">Chuyến xe tốt</div>
        </div>
      </div>
      <div class="comment-item">
        <img
          src="Images/ava-palceholder.png"
          alt="ava-img"
          class="ava"
        />
        <div class="comment-info">
          <div class="comment-name align-center">
            <span>Đặng Bảo Châu</span>
            <div class="align-center">
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
            </div>
          </div>
          <div class="comment-text">Chuyến xe tốt</div>
        </div>
      </div>
      <div class="comment-item">
        <img
          src="Images/ava-palceholder.png"
          alt="ava-img"
          class="ava"
        />
        <div class="comment-info">
          <div class="comment-name align-center">
            <span>Đặng Bảo Châu</span>
            <div class="align-center">
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
            </div>
          </div>
          <div class="comment-text">Chuyến xe tốt</div>
        </div>
      </div>
      <div class="comment-item">
        <img
          src="Images/ava-palceholder.png"
          alt="ava-img"
          class="ava"
        />
        <div class="comment-info">
          <div class="comment-name align-center">
            <span>Đặng Bảo Châu</span>
            <div class="align-center">
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
              <img src="Images/Star.svg" alt="star" />
            </div>
          </div>
          <div class="comment-text">Chuyến xe tốt</div>
        </div>
      </div>
    </div>
  </div>

  <div class="pages">
    <div class="page">1</div>
    <div class="page">2</div>
    <div class="page active">3</div>
    <div class="page">4</div>
    <div class="page">5</div>
  </div>
</main>