<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
      <div class="card text-black shadow bg-glass" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-5 d-none d-md-flex align-items-center justify-content-center image-custom">
              <div class="p-5 m-4">
                  <div class="title d-flex flex-column align-items-center">
                      <a href="/" class="text-decoration-none fw-light text-white" style="font-size:4rem">Gobe</a>
                      <h5 class="text-white fw-light">Xin chào!</h5>
                      <p class="text-white fw-light text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rem corporis nam facere aliquid harum minus sit, dolore sint nihil omnis molestiae est vero aspernatur, hic eligendi eaque sunt sapiente.</p>
                  </div>
                      
              </div>
            </div>
          <div class="col-md-6 col-lg-7">
            <div class="card-body p-5 mx-4 h-100">
              <h3 class="fw-bold py-2" style="color: rbg(78,158,112)">Quên mật khẩu</h3>
              <form class="form-valid">
                <div class="form-outline mb-4">
                  <label class="form-label" for="phone">Số điện thoại</label>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">+84</span>
                      <input type="tel" id="phone" class="form-control" aria-label="Telephone" aria-describedby="basic-addon1" required />
                    </div>

                </div>
              <input class="btn btn-success w-100 outlined-0 btn-valid" type="button" onclick="tokenHandler(event)" value="Tìm kiếm tài khoản">
              </form>
              <form method="post" class="digit-group w-100" data-group-name="digits" data-autosubmit="true" autocomplete="on">
                  <div class="mb-4">
                  <input type="text"  id="digit-1" name="digit-1" data-next="digit-2" />
                  <input type="text"  id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                  <input type="text"  id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                  <input type="text"  id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                  <input type="text"  id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
                  <input type="text"  id="digit-6" name="digit-6" data-previous="digit-5" />

                  </div>
                  <input class="btn btn-success w-100 outlined-0 btn-token" type="button" onclick="validToken(event)"  value="Xác nhận tài khoản" />
              </form>
              <form class="reset-password w-100">
                  <div class="form-outline mb-4">
                      <label class="form-label" for="password">Mật khẩu</label>
                      <input type="password" id="password" class="form-control" required />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Mật khẩu nhập lại</label>
                      <input type="password" id="check-password" class="form-control" onkeyup="checkPassword(event)" required />
                    </div>
                    <span class="text-danger warning mb-2"></span>
                    <input class="btn btn-success w-100 outlined-0" type="button" onclick="location.href='Login'" value="Thay đổi mật khẩu" />

              </form>
              <div class="py-3">Bạn chưa có tài khoản ? <a class="text-decoration-none" href="SignUp">Đăng ký</a></div>
            </div>
          </div>
         

      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./main.js"></script>