<main>
  <section class="container p-5">
    <div class="row text-bg-black">
      <div class="col-lg-3 col-md-6 text-center py-2">
        <img
          src="bus-solid.svg"
          class="m-3"
          width="50rem"
          height="50rem"
        />
        <h5>2000+ nhà xe chất lượng cao</h5>
        <p class="text-black-50">
          5000+ tuyến đường trên toàn quốc, chủ động và đa dạng lựa chọn.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 text-center py-2">
        <img
          src="ticket-solid.svg"
          class="m-3"
          width="50rem"
          height="50rem"
        />
        <h5>Đặt vé dễ dàng</h5>
        <p class="text-black-50">
          Đặt vé chỉ với 60s. Chọn xe yêu thích cực nhanh và thuận tiện.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 text-center py-2">
        <img
          src="circle-check-regular.svg"
          class="m-3"
          width="50rem"
          height="50rem"
        />
        <h5>Đảm bảo có vé</h5>
        <p class="text-black-50">
          Hoàn ngay 150% nếu không có vé, mang đến hành trình trọn vẹn.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 text-center py-2">
        <img
          src="tags-solid.svg"
          class="m-3"
          width="50rem"
          height="50rem"
        />
        <h5>Nhiều ưu đãi</h5>
        <p class="text-black-50">
          Hàng ngàn ưu đãi cực chất độc quyền tại Gobe.
        </p>
      </div>
    </div>
  </section>

  <section class="container p-5">
    <h3 class="fw-bold py-4">Tuyến đường phổ biến</h3>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="card">
          <img
            src="destination/dalat.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Sài Gòn - Đà Lạt</h5>
            <p class="card-text">150.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/nhatrang.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Sài Gòn-Nha Trang</h5>
            <p class="card-text">230.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/phanthiet.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Sài Gòn - Phan Thiết</h5>
            <p class="card-text">150.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/danang.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Bình Định - Đà Nẵng</h5>
            <p class="card-text">350.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/phanrang.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Vũng Tàu - Phan Rang</h5>
            <p class="card-text">170.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/phuyen.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Nam Định - Phú Yên</h5>
            <p class="card-text">190.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/hoian.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Bình Thuận - Quảng Nam</h5>
            <p class="card-text">220.000đ</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="destination/halong.jpeg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <h5 class="card-title">Hà Nội - Quảng Ninh</h5>
            <p class="card-text">100.000đ</p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="fw-bold py-4">Hot Deals</h3>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="card">
          <img
            src="discount/zalopay.png"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <p class="card-text lh-base">
              Giảm 50K cho KH mới khi thanh toán tại ZaloPay
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="discount/discount.png"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <p class="card-text lh-base">
              Giảm 20% đơn hàng 250k mừng sinh nhật Gobe
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="discount/uudai.jpg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <p class="card-text lh-base">
              Ưu đãi cực lớn cho lần đầu đặt xe
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="discount/sacombank.png"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <p class="card-text lh-base">
              Siêu ưu đãi khi thanh toán bằng thẻ Sacombank
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img
            src="discount/uu-dai-t12.jpg"
            height="60%"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            <p class="card-text lh-base">
              Nhận ưu đãi lớn khi mua vé tháng 12
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-5">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex justify-content-center flex-column p-3"
      >
        <h3 id="about">Về chúng tôi</h3>
        <p>
          Được thành lập từ năm 2013, Gobe đã xây dựng được tên tuổi hàng
          đầu với bề dày hoạt động trong lĩnh vực thương mại điện tử, công
          nghệ và du lịch. Gobe tự hào là đơn vị đi đầu trong sự nghiệp cách
          mạng ngành xe khách và du lịch Việt Nam
        </p>
        <button class="btn btn-success my-4" onclick="location.href='AboutUs'">Xem thêm</button>
      </div>
      <div class="col-lg-8 col-md-6 p-3">
        <img src="bus.jpg" width="100%" class="rounded" />
      </div>
    </div>
  </section>
</main>
