<main class="container">
  <form class="route" action="">
    <select
      class="route__depart form-select form-select-lg"
      name="departure-point"
      required
    >
      <option value="">Điểm đi</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
    <select
      class="route__des form-select form-select-lg"
      name="destination"
      required
    >
      <option value="">Điểm đến</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
    <input class="route__date" type="date" name="date" id="" />
  </form>

  <div class="function-btns">
    <!-- <button class="btn filter-btn">
      Lọc
      <i class="fa-solid fa-sliders"></i>
    </button> -->
    <button
      class="btn outline filter-btn"
      name="filter"
      id="filter"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <span>Lọc</span>
      <i class="fa-solid fa-arrow-up-wide-short"></i>
    </button>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header oc-h">
        <h5 class="fw-bold m-0">Bộ lọc</h5>
        <div>
          <span class="fst-italic text-primary">Xóa lọc</span>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="offcanvas-body">
        <h5 class="fw-bold py-4">Giờ đi</h5>
        <div class="row">
          <div class="col-5 card-select">
            <div>Sáng sớm (14)</div>
            <div>00:00 - 06:00</div>
          </div>
          <div class="col-5 card-select">
            <div>Buổi sáng (171)</div>
            <div>06:01 - 12:00</div>
          </div>
        </div>
        <div class="row">
          <div class="col-5 card-select">
            <div>Buổi chiều (180)</div>
            <div>12:01 - 18:00</div>
          </div>
          <div class="col-5 card-select">
            <div>Buổi tối (23)</div>
            <div>18:01 - 23:59</div>
          </div>
        </div>
        <h5 class="fw-bold py-4">Giá vé</h5>
        <input type="range" class="form-range" id="customRange1" />
        <div class="range">
          <div>0đ</div>
          <div>200.000đ</div>
        </div>
        <h5 class="fw-bold py-3">Vị trí ghế</h5>
        <h5 class="fw-bold py-4">Nhà xe</h5>
        <div class="input-group mb-3 search-bar">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" class="me-2" value="Bike">
          <label for="vehicle1">AGO Hoàng Phương (39)</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" class="me-2"value="Car">
          <label for="vehicle2">Anh Huy Đất Cảng (23)</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" class="me-2" value="Boat">
          <label for="vehicle3">Cát Bà Express (4)</label><br><br>
        </form>

        <h5 class="fw-bold py-3">Điểm đón</h5>
        <div class="input-group mb-3 search-bar">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" class="me-2" value="Bike">
          <label for="vehicle1">AGO Hoàng Phương (39)</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" class="me-2"value="Car">
          <label for="vehicle2">Anh Huy Đất Cảng (23)</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" class="me-2" value="Boat">
          <label for="vehicle3">Cát Bà Express (4)</label><br><br>
        </form>
        <h5 class="fw-bold py-3">Loại ghế</h5>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" class="me-2" value="Bike">
          <label for="vehicle1">Ghế ngồi</label><br>
        </form>

        <h5 class="fw-bold py-3">Đánh giá</h5>
        <div class="align-center">
          <img src="/static/Images/Star.svg" alt="star" />
          <img src="/static/Images/Star.svg" alt="star" />
          <img src="/static/Images/Star.svg" alt="star" />
          <img src="/static/Images/Star.svg" alt="star" />
          <img src="/static/Images/Star.svg" alt="star" />
        </div>
      </div>
    </div>

    <!-- <button class="btn sort-btn">
      Sắp xếp
      <i class="fa-solid fa-angle-down"></i>
    </button> -->
    <select
      class="btn outline sort-btn form-select form-select-lg"
      name="sort"
      id="sort"
    >
      <option selected>Sắp xếp</option>
      <option value="early">Giờ đi sớm nhất</option>
      <option value="late">Giờ đi muộn nhất</option>
      <option value="highprice">Giá tăng dần</option>
      <option value="lowprice">Giá giảm dần</option>
    </select>
  </div>

  <ul class="bus-list">
    <li class="bus-item">
      <div class="info">
        <div class="bus-name">Kết Đoàn Bus</div>
        <div class="rate">
          <span>4.8</span>
          <i class="fa-solid fa-star"></i>
          <span>(2747)</span>
        </div>

        <div class="bus-type">Ghế ngồi 16 chỗ</div>

        <div class="info-detail">
          <img
            class="route-icon"
            src="/static/Images/route-icon.png"
            alt="route-icon"
          />
          <div class="route-info">
            <div class="depart-point">
              <span class="time">14:50</span>
              <span class="pos">Văn phòng Mỹ Đình</span>
            </div>
            <span class="duration">1h45m</span>
            <div class="desti-point">
              <span class="time">9:50</span>
              <span class="pos">728 Thiên Lôi</span>
            </div>
          </div>
          <span class="price"> 150.000đ </span>
          <span class="empty-seat">Còn 15 chỗ trống</span>
          <a href="../DetailPage/index_notSignIn.html" class="detail-link"
            >Thông tin chi tiết</a
          >

          <button class="btn choose-btn" onclick="handleChooseBtn()">
            Chọn chuyến
          </button>
        </div>
      </div>
      <div class="img-fluid">
        <img
          src="/static/Images/car_img.png"
          alt="car-img"
          class="bus-img"
        />
      </div>
    </li>
    <li class="bus-item">
      <div class="info">
        <div class="bus-name">Kết Đoàn Bus</div>
        <div class="rate">
          <span>4.8</span>
          <i class="fa-solid fa-star"></i>
          <span>(2747)</span>
        </div>

        <div class="bus-type">Ghế ngồi 16 chỗ</div>

        <div class="info-detail">
          <img
            class="route-icon"
            src="/static/Images/route-icon.png"
            alt="route-icon"
          />
          <div class="route-info">
            <div class="depart-point">
              <span class="time">14:50</span>
              <span class="pos">Văn phòng Mỹ Đình</span>
            </div>
            <span class="duration">1h45m</span>
            <div class="desti-point">
              <span class="time">9:50</span>
              <span class="pos">728 Thiên Lôi</span>
            </div>
          </div>
          <span class="price"> 150.000đ </span>
          <span class="empty-seat">Còn 15 chỗ trống</span>
          <a href="../DetailPage/index_notSignIn.html" class="detail-link"
            >Thông tin chi tiết</a
          >

          <button
            class="btn choose-btn"
            onclick="location.href='../PaymentPage/index_notSignIn.html'"
          >
            Chọn chuyến
          </button>
        </div>
      </div>
      <div class="img-fluid">
        <img
          src="/static/Images/car_img.png"
          alt="car-img"
          class="bus-img"
        />
      </div>
    </li>
    <li class="bus-item">
      <div class="info">
        <div class="bus-name">Kết Đoàn Bus</div>
        <div class="rate">
          <span>4.8</span>
          <i class="fa-solid fa-star"></i>
          <span>(2747)</span>
        </div>

        <div class="bus-type">Ghế ngồi 16 chỗ</div>

        <div class="info-detail">
          <img
            class="route-icon"
            src="/static/Images/route-icon.png"
            alt="route-icon"
          />
          <div class="route-info">
            <div class="depart-point">
              <span class="time">14:50</span>
              <span class="pos">Văn phòng Mỹ Đình</span>
            </div>
            <span class="duration">1h45m</span>
            <div class="desti-point">
              <span class="time">9:50</span>
              <span class="pos">728 Thiên Lôi</span>
            </div>
          </div>
          <span class="price"> 150.000đ </span>
          <span class="empty-seat">Còn 15 chỗ trống</span>
          <a href="../DetailPage/index_notSignIn.html" class="detail-link"
            >Thông tin chi tiết</a
          >

          <button
            class="btn choose-btn"
            onclick="location.href='../PaymentPage/index_notSignIn.html'"
          >
            Chọn chuyến
          </button>
        </div>
      </div>
      <div class="img-fluid">
        <img
          src="/static/Images/car_img.png"
          alt="car-img"
          class="bus-img"
        />
      </div>
    </li>
    <li class="bus-item">
      <div class="info">
        <div class="bus-name">Kết Đoàn Bus</div>
        <div class="rate">
          <span>4.8</span>
          <i class="fa-solid fa-star"></i>
          <span>(2747)</span>
        </div>

        <div class="bus-type">Ghế ngồi 16 chỗ</div>

        <div class="info-detail">
          <img
            class="route-icon"
            src="/static/Images/route-icon.png"
            alt="route-icon"
          />
          <div class="route-info">
            <div class="depart-point">
              <span class="time">14:50</span>
              <span class="pos">Văn phòng Mỹ Đình</span>
            </div>
            <span class="duration">1h45m</span>
            <div class="desti-point">
              <span class="time">9:50</span>
              <span class="pos">728 Thiên Lôi</span>
            </div>
          </div>
          <span class="price"> 150.000đ </span>
          <span class="empty-seat">Còn 15 chỗ trống</span>
          <a href="../DetailPage/index_notSignIn.html" class="detail-link"
            >Thông tin chi tiết</a
          >

          <button
            class="btn choose-btn"
            onclick="location.href='../PaymentPage/index_notSignIn.html'"
          >
            Chọn chuyến
          </button>
        </div>
      </div>
      <div class="img-fluid">
        <img
          src="/static/Images/car_img.png"
          alt="car-img"
          class="bus-img"
        />
      </div>
    </li>
  </ul>

  <div class="pages">
    <div class="page">1</div>
    <div class="page">2</div>
    <div class="page active">3</div>
    <div class="page">4</div>
    <div class="page">5</div>
  </div>
</main>