<footer
  class="shadow d-flex flex-column align-items-start justify-space-between"
>
  <div class="row">
    <h3>
      <a href="/" class="title text-success text-decoration-none">Gobe</a>
    </h3>
  </div>
  <div class="row w-100">
    <div class="col-md-4 col-xs-1 my-2">
      <h5 class="fw-bold">Liên hệ</h5>
      <div>+ 123 400 123</div>
      <div>Email: gobe@gmail.com</div>
    </div>
    <div class="col-md-4 col-xs-1 my-2">
      <h5 class="fw-bold">Về chúng tôi</h5>
      <div>Giới thiệu Gobe</div>
      <div>Tuyển dụng</div>
    </div>
    <div class="col-md-4 col-xs-1 my-2">
      <h5 class="fw-bold">Hỗ trợ</h5>
      <div>Hướng dẫn thanh toán</div>
      <div>Chính sách bảo mật thông tin</div>
      <div>Chính sách bảo mật thanh toán</div>
      <div>Chính sách và quy trình giải quyết tranh chấp, khiếu nại</div>
      <div>Câu hỏi thường gặp</div>
      <div>Tra cứu đơn hàng</div>
    </div>
  </div>
</footer>